---
layout: base
title: All news items
---

%h1 All news items

%ul
  - for p in site.posts
    %li
      %a{ :href=>"..#{p.url}" } #{p.title}
      %small
        by
        %a{ :href=>"https://github.com/#{p.author}" } #{p.author}
        on
        #{p.date.strftime('%d-%b-%y')}

