!!!5
%html{ :lang=>'en' }
  %head
    %meta{ :charset=>'UTF-8' }
    - if page.output_path.index('/news/') == 0
      %title Netty.news: #{page.title}
    - if page.output_path.index('/wiki/') == 0
      %title Netty.docs: #{page.title}
    - else
      %title Netty: #{page.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :ruby
      if !site.real_base_url
        site.real_base_url = site.base_url
      end

      # Make base_url relative so that we don't even need to run Awestruct HTTP server to browse the generated pages.
      page.output_path_depth = page.output_path.count('/\\') - 1;
      if page.output_path_depth == 0
        site.base_url = '.'
      else
        site.base_url = '../' * (page.output_path_depth - 1) + '..'
      end
    %link{ :rel=>'shortcut icon', :href=>"#{site.base_url}/images/favicon.ico" }
    %link{ :rel=>'alternate', :type=>'application/rss+xml', :title=>'News Feed', :href=>'http://feeds.feedburner.com/netty_project' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css', :media=>'screen'  }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css', :media=>'screen'  }

    -# SyntaxHighlighter
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/sh/scripts/shCore.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/sh/scripts/shBrushXml.js" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/sh/styles/shCore.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/sh/styles/shThemeDefault.css" }

    -# Site-specific stuff
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/lib/common.css" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/common.js" }

    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>"#{site.base_url}/index.html" } Netty project
          %ul.nav
            %li{ :class=>'dropdown' }
              %a{ :href=>"#{site.base_url}#{site.posts[0].url}" }
                News
              %ul{ :class=>'dropdown-menu' }
                %li
                  %a{ :href=>"#{site.base_url}/news/index.html" }
                    %i{ :class=>'icon-briefcase' }
                    Archive
            %li{ :class=>'dropdown' }
              %a{ :href=>"#{site.base_url}/downloads.html" }
                Downloads
              %ul{ :class=>'dropdown-menu' }
                - for r in site.releases
                  - if r.version.start_with?("3.")
                    - r.filename = 'netty-' + r.version + '-dist.tar.bz2'
                  - else
                    - r.filename = 'netty-' + r.version + '.tar.bz2'
                  %li
                    %a{ :href=>"http://netty.googlecode.com/files/#{r.filename}" }
                      %i{ :class=>'icon-download' }
                      #{r.version}
                      %small &dash; #{r.date}
                %li 
                  %a{ :href=>'http://www.tldrlegal.com/l/APACHE2' }
                    %i{ :class=>'icon-legal' }
                    Apache License 2.0
                %li
                  %a{ :href=>'http://code.google.com/p/netty/downloads/list' }
                    %i{ :class=>'icon-briefcase' }
                    Previous Releases
                %li
                  %a{ :href=>'http://ci.motd.kr/view/Netty/' }
                    %i{ :class=>'icon-beaker' }
                    Nightly Builds
            %li{ :class=>'dropdown' }
              %a{ :href=>"#{site.base_url}/wiki/index.html" }
                Documentation
              %ul{ :class=>'dropdown-menu' }
                %li
                  %a{ :href=>"#{site.base_url}/wiki/all-documents.html" }
                    %i{ :class=>'icon-list' }
                    All Documents
                %li
                  %a{ :href=>"#{site.base_url}/wiki/related-articles.html" }
                    %i{ :class=>'icon-bookmark' }
                    Related Articles
                %li
                  %a{ :href=>"#{site.base_url}/wiki/related-projects.html" }
                    %i{ :class=>'icon-bookmark' }
                    Related Projects
            %li{ :class=>'dropdown' }
              %a{ :href=>"#{site.base_url}/community.html" }
                Get Involved
              %ul{ :class=>'dropdown-menu' }
                %li
                  %a{ :href=>'https://github.com/netty/netty' }
                    %i{ :class=>'icon-github' }
                    Github
                %li
                  %a{ :href=>'http://stackoverflow.com/questions/tagged/netty' }
                    %i{ :class=>'icon-question-sign' }
                    StackOverflow
                %li
                  %a{ :href=>'https://twitter.com/netty_project' }
                    %i{ :class=>'icon-twitter-sign' }
                    @netty_project
                %li
                  %a{ :href=>"#{site.base_url}/wiki/developer-guide.html" }
                    %i{ :class=>'icon-cogs' }
                    Developer Guide
            %li
              %a{ :href=>'http://feeds.feedburner.com/netty_project' }
                %i{ :class=>'icon-rss' }
          %form.navbar-search.pull-right{ :method=>'GET', :action=>"#{site.base_url}/search.html", :onsubmit=>'return validateGlobalSearchQuery()' }
            %input#global-search-query.search-query{ :type=>'text', :name=>'q', :placeholder=>'Search' }
    .container
      .content.instapaper_body
        ~ content
      %hr
      %footer
        %p 
          Copyright &copy; #{Date.today.year} 
          %a{ :href=>"#{site.base_url}/index.html"} The Netty project
    %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/lib/common.footer.js" }

