---
layout: base
---

.news-item
  %h1
    #{page.title}

  %p.byline
    %small
      by
      %a{ :href=>"https://github.com/#{page.author}" } #{page.author}
      %br
      on
      %time{ :datetime=>"#{page.date.strftime('%Y-%m-%d')}" } #{page.date.strftime('%d-%b-%Y')}

  .news-content
    ~ content

  %ul.pager
    - if page.previous_post
      %li.previous
        %a{ :href=>"../../../..#{page.previous_post.url}" } &larr; Older
    - else
      %li.previous.disabled
        %a{ :href=>'#' } &larr; Older
    %li
      %a{ :href=>"../../../index.html" } List all news items
    - if page.next_post
      %li.next
        %a{ :href=>"../../../..#{page.next_post.url}" } Newer &rarr;
    - else
      %li.next.disabled
        %a{ :href=>'#' } Newer &rarr;

.comments
  :ruby
    real_base_url = site.real_base_url
    relative_base_url = site.base_url
    site.base_url = real_base_url
  - if !page.disqus_identifier
    - page.disqus_identifier = 'news/' + page.simple_name
  = page.disqus_comments
  :ruby
    site.real_base_url = real_base_url
    site.base_url = relative_base_url

