---
layout: base
---

.news-item
  %h1
    #{page.title}
    %small
      by
      %a{ :href=>"https://github.com/#{page.author}" } #{page.author}
      on
      %time{ :datetime=>"#{page.date.strftime('%Y-%m-%d')}" } #{page.date.strftime('%d-%b-%Y')}

  ~ content

.comments
  :ruby
    real_base_url = site.real_base_url
    relative_base_url = site.base_url
    site.base_url = real_base_url
  - if !page.disqus_identifier
    - page.disqus_identifier = 'news/' + page.simple_name
    = page.disqus_comments
  :ruby
    site.real_base_url = real_base_url
    site.base_url = relative_base_url

