!!!5
%html{ :lang=>'en' }
  %head
    %meta{ :charset=>'UTF-8' }
      %title Redirecting..
    %link{ :rel=>'shortcut icon', :href=>"#{page.site_url}/images/favicon.ico" }
    %meta{ :http=>{ :equiv=>'Refresh' }, :content=>"0; #{page.long_url}" }
    :javascript
      window.location.href = '#{page.long_url}';
  %body
    %p
      You are being redirected to:
      %br
      %a{ :href=>"#{page.long_url}" } #{page.long_url}
    %p
      If you are not redirected, please click the link above.

